<h1>Listing own_products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>User</th>
      <th>Count</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @own_products.each do |own_product| %>
      <tr>
        <td><%= own_product.product %></td>
        <td><%= own_product.user %></td>
        <td><%= own_product.count %></td>
        <td><%= own_product.memo %></td>
        <td><%= link_to 'Show', own_product %></td>
        <td><%= link_to 'Edit', edit_own_product_path(own_product) %></td>
        <td><%= link_to 'Destroy', own_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Own product', new_own_product_path %>
